body {
	background-color: #f9f9f9;
	color: #333333;
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

section {
	display: inline-flex;
	width: 100%;
}

.rating i{
	color: #fbc02d;
}

#head-detail .rating span{
	font-size: 1.3rem;
	color: #bbbbbb;
	margin: 0 10px 0 0;
}

#map-canvas {
	height: 520px;
	width: 100%;
	margin: 50px 0;
	padding: 0px;
	display: inline-block;
}

#map-canvas .adres{
	color: #333;
	font-size: 16px;
	line-height: 30px;
	height: auto;
	width: 300px;
	text-align: center;
	display: inline-block;
	padding: 10px 0;
	margin: 0 -25px 0 0;
}

#map-canvas .adres strong{
	font-size: 26px;
	font-weight: normal;
	border-bottom: 2px solid #eeeeee;
	padding: 0 0 5px 0;
	margin: 0 0 15px 0;
	display: inline-block;
}

#map-canvas .gm-style-iw > div > div{
	overflow: hidden !important;
}

.card .card-image .card-title{
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
}

#head-search {
	padding: 50px 0;
	border-bottom: 4px solid #dcdcdc;
}

#head-search h2 {
	font-size: 2rem;
	margin: 0;
}

#head-search h1 {
	font-size: 1.8rem;
	margin: 0 0 15px 0;
}

#head-search strong {
	text-decoration: underline;
	color: #333333;
	font-size: 2.2rem
}

#fast-search {
	border-bottom: 4px solid #dcdcdc;
}

#fast-search h1 {
	font-size: 3rem;
	line-height: 110%;
	margin: 100px 0 20px 0;
}

#fast-search p {
	font-size: 1.3rem;
}

#fast-search .card-panel {
	padding: 10px 10px 0;
}

#fast-search .search-wrapper {
	max-width: 900px;
	margin: 70px auto 200px auto;
}

#fast-search .btn {
	width: 100%;
	padding: 0;
	text-align: center;
}

#fast-search .autocomplete-content {
	position: absolute;
	width: 92%;
}

#populair-items {
	padding: 60px 0 0;
}

#populair-items h2 {
	font-size: 2.2rem;
}

#results-search h3 {
	font-size: 1.3rem;
}

#results-search .sort-bar {
	margin: 20px 0 60px 0;
	border-bottom: 3px solid #cbcbcb;
	padding: 0 0 20px 0;
}

#results-search .sort-bar h3 {
	font-size: 2rem;
	margin-left: -0.75rem;
}

#results-search .inline {
	width: 165px;
}

.filter h3:first-child {
	margin: 0 0 1.5rem 0;
}

.filter h3 {
	margin: 2.5rem 0 1.5rem 0;
}

.filter form {
	border-bottom: 2px solid #eee;
	padding: 0 0 30px 0;
}

#results-search .card {
	margin: 0 0 2rem 0;
}

#results-search .card strong {
	font-size: 2.28rem;
	font-weight: normal;
}

#results-search .card .favorite {
	color: #d32f2f;
}

#head-detail {
	margin: 50px 0 0 0;
}

#head-detail img {
	width: 100%;
}

#head-detail .intro {
	font-size: 1.1rem;
	line-height: 1.9rem;
}

#info-detail h2,
#head-detail h2 {
	font-size: 2.5rem;
	margin: 0 0 20px 0;
}

#info-detail .btn,
#head-detail .btn {
	width: 100%;
}

#collection-detail img {
	width: 100%;
}

#collection-detail .row {
	display: flex;
	align-items: center;
  justify-content: center;
}

#collection-detail .quote {
	font-size: 2rem;
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

#collection-detail .quote .who{
	font-size: 1.2rem;
	margin: 10px 0 0 0;
	font-weight: 300;
}

#head-new-collection h1{
	font-size: 22px;
	margin: 15px 0 0 0;
}

#head-new-collection h2{
	font-size: 17px;
	margin: 10px 0 15px 0;
}

#head-new-collection .single{
	font-size: 22px;
	margin: 15px 0;
}

#new-collection {
	margin: 30px 0 0 0;
}

#new-collection h3{
	font-size: 26px;
	margin: 1.46rem 0 0;
}

#new-collection a.btn-large{
	margin: 0 50px;
}

#new-collection .carousel{
	margin-top: -70px;
}

.collection .collection-item.avatar{
	min-height: auto;
}

.tap-target-content{
	height: 440px !important;
}
